@media (max-width: 50em) {
  .guess {
    padding: 1rem;
    width: 15rem;
  }

  .again {
    padding: 0.7rem 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  .btn {
    font-size: 1.5rem;
  }

  .message {
    height: 1rem;
    font-size: 1.5rem;
  }

  .score,
  .label-score {
    font-size: 1.5rem;
  }
  .label-highscore,
  .highscore {
    font-size: 1.5rem;
  }
}

@media (max-width: 40em) {
  .label-highscore,
  .highscore {
    font-size: 1.3rem;
  }

  .label-highscore,
  .highscore {
    font-size: 1.3rem;
  }

  .message {
    height: 1rem;
    font-size: 1.4rem;
  }

  h1 {
    font-size: 2rem;
  }

  .again {
    padding: 0.7rem 0.7rem;
    font-size: 1rem;
  }

  .between {
    font-size: 1rem;
  }
}
